:root {
  --btncolor: #00ff80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: #0c1016;
  font-family: "Roboto";
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  position: absolute;
  top: -4000px;
  left: -4000px;
}

#btn {
  position: relative;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  background-color: var(--btncolor);
  filter: url("#btn");
  border: none;
  cursor: pointer;
}
#btn:focus {
  outline: none;
}
#btn .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#btn .bubbles .bubble {
  position: absolute;
  background-color: var(--btncolor);
  top: 0;
  left: 0;
  display: block;
  border-radius: 100%;
  z-index: -999;
}
#btn .bubbles .bubble:nth-child(1) {
  left: 14px;
  width: 25px;
  height: 25px;
  animation: bubble1 3.02s infinite;
  animation-delay: 0.2s;
}
#btn .bubbles .bubble:nth-child(2) {
  left: 41px;
  width: 25px;
  height: 25px;
  animation: bubble2 3.04s infinite;
  animation-delay: 0.4s;
}
#btn .bubbles .bubble:nth-child(3) {
  left: 24px;
  width: 25px;
  height: 25px;
  animation: bubble3 3.06s infinite;
  animation-delay: 0.6s;
}
#btn .bubbles .bubble:nth-child(4) {
  left: 21px;
  width: 25px;
  height: 25px;
  animation: bubble4 3.08s infinite;
  animation-delay: 0.8s;
}
#btn .bubbles .bubble:nth-child(5) {
  left: 92px;
  width: 25px;
  height: 25px;
  animation: bubble5 3.1s infinite;
  animation-delay: 1s;
}
#btn .bubbles .bubble:nth-child(6) {
  left: 32px;
  width: 25px;
  height: 25px;
  animation: bubble6 3.12s infinite;
  animation-delay: 1.2s;
}
#btn .bubbles .bubble:nth-child(7) {
  left: 47px;
  width: 25px;
  height: 25px;
  animation: bubble7 3.14s infinite;
  animation-delay: 1.4s;
}
#btn .bubbles .bubble:nth-child(8) {
  left: 26px;
  width: 25px;
  height: 25px;
  animation: bubble8 3.16s infinite;
  animation-delay: 1.6s;
}
#btn .bubbles .bubble:nth-child(9) {
  left: 28px;
  width: 25px;
  height: 25px;
  animation: bubble9 3.18s infinite;
  animation-delay: 1.8s;
}
#btn .bubbles .bubble:nth-child(10) {
  left: 44px;
  width: 25px;
  height: 25px;
  animation: bubble10 3.2s infinite;
  animation-delay: 2s;
}

@keyframes bubble1 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -57px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes bubble2 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -96px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes bubble3 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -70px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes bubble4 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -55px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes bubble5 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -129px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes bubble6 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -60px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes bubble7 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -58px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes bubble8 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -109px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes bubble9 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -122px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes bubble10 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -100px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
